extends layout
block content
    div(class="container-fluid")
       h1= title
     - let results=[{dog_color:"brown",dog_bread:"German Shepherd",dog_price:2000},{dog_color:"white",dog_bread:"Labrador Retriever",dog_price:1500},{dog_color:"black",dog_bread:"Poodle",dog_price:4080}]
         div(class="row")
             each form,index in results
                div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{form.dog_color}              
                div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{form.dog_bread}                
                div(class = "col-sm-2 bg-primary" onclick=`buy(${index})`) #{form.dog_price}
                hr

    script.

        function buy(itemNo)
        {
          alert(`You purchased Item ${itemNo+1}`)
        }